DATABASE_URL="mysql://user:pass@localhost:3306/toko_digital"
JWT_SECRET="ganti-rahasia"
ADMIN_EMAIL="admin@toko.com"
ADMIN_PASSWORD="gantipassword"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP_ADMIN="6281234567890"
